body{
	font-family: "Open Sans Serif";
}
.text-white{
    color:white;
}
.frase{
	font-family:"Open Sans";
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.lh{
	line-height: 1.5;
}
.text-white{
 color: white;
}
.ref a{
	text-decoration: none;
}
nav ul{
	list-style-type: none;
}
i{
	color: #24A2AB;
}